#root {
  height: 100vh;
  width: 100vw;

  --inputbg: gainsboro;
  --primarytext: grey;
  --buttonbg: rgb(71, 71, 180);
  --buttonbg_active: rgb(15, 15, 107);
  --buttontext: white;
  --warning: #f44336;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
}
textarea:focus {
  outline: none;
}
